@font-face {
    font-family: "coves";
    src: url("/fonts/Coves-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "coves";
    src: url("/fonts/Coves-Bold.otf");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "helvetica-neue";
    src: url("/fonts/HelveticaNeue-Regular.ttf");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }